@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Raleway:wght@100;300;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100;300;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", "Arizonia", "Kaushan Script", sans-serif;
}

#banner {
  background: linear-gradient(
      109.6deg,
      rgb(27, 5, 36) 18.2%,
      rgba(238, 66, 102, 0.3) 100.2%
    ),
    url(img/01.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  width: 15%;
  position: absolute;
  top: 0.4%;
  left: 1%;
}

.banner-text {
  text-align: center;
}

.banner-text h1 {
  font-size: 8rem;
  font-family: "Arizonia";
  background: linear-gradient(45deg, #ffdf00, #c23b22);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: #f0b13b;
  padding-top: 180px;
}

.banner-text p {
  font-size: 2rem;
  font-family: "Kaushan Script";
  background: linear-gradient(45deg, #c23b22, #ffdf00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: #f0b13b;
  padding-top: 10px;
}

.banner-btn {
  margin: 70px auto 0;
}

.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #ffdf00;
  border: 0.2px solid #ffdf00;
  position: relative;
  z-index: 1;
  transition: color 1s;
}

.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #c23b22, #ffdf00);
  z-index: -1;
  transition: 1s;
}

.banner-btn a:hover span {
  width: 100%;
  border: 0.01px solid #c23b22;
}

.banner-btn a:hover {
  color: #611f14;
}

#sideNav {
  width: 200px;
  height: 49vh;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 19px 38px,
    rgba(0, 0, 0, 0.62) 0px 15px 12px;
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 8.2%,
    rgba(0, 0, 0, 0.3) 100.2%
  );
  z-index: 2;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f0b13b;
  text-justify: right;
  line-height: 2px;
  margin: 0;
  font-size: 1.8em;
  font-family: "Kaushan Script";
}

#menuBtn {
  width: 50px;
  height: 50px;
  background: none;
  text-align: center;
  position: fixed;
  right: 15px;
  top: 5px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menuBtn img {
  width: 60px;
  margin-top: 10px;
}

/* ================================Media========================== */

@media (max-width: 600px) {
  .logo {
    width: 150px;
  }
  .banner-text h1 {
    font-size: 5rem;
  }
  .banner-text p {
    font-family: "Kaushan Script";
    font-size: 1.5rem;
    font-weight: 500;
    font-style: oblique;
  }
  #banner {
    background: linear-gradient(
        109.6deg,
        rgb(27, 5, 36) 18.2%,
        rgba(238, 66, 102, 0.3) 100.2%
      ),
      url(img/01.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  #sideNav {
    width: 200px;
    height: 49vh;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 0 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 19px 38px,
      rgba(0, 0, 0, 0.62) 0px 15px 12px;
    background: linear-gradient(
      99.6deg,
      rgb(27, 5, 36) 30.2%,
      rgba(238, 66, 102, 0.3) 90.2%
    );
    z-index: 2;
  }
}
